<h3> FINAL TEST</h3>
<p>Name: Alejandra Gabriela Chirinos Valle</p>
<p> -------------------------------------------</p>

<p>This form is for create and edit</p>

<form [formGroup]="masForm" style="display: flex; flex-direction: column; max-width: 400px; margin: 20px">

  <mat-form-field appearance="fill">
    <input matInput formControlName="date" type="text" placeholder="From">
    {{currentDate | date:'yyyy-MM-dd'}}
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput formControlName="from" type="text" placeholder="From">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput formControlName="to" type="text" placeholder="To">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput formControlName="quantity" type="text" placeholder="Quantity">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput formControlName="moneyType" type="text" placeholder="Money type:">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput formControlName="mineType" type="text" placeholder="Miner type:">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput formControlName="miner" type="text" placeholder="Miner">
  </mat-form-field>

  <button mat-stroked-button color="primary" (click)="onCreate()" style="margin: 20%">CREATE</button>
  <button mat-stroked-button color="primary" (click)="onUpdate()" style="margin: 20%">EDIT</button>

</form>

<h4>WALLETS</h4>

<div>
  TOTAL BTC: {{getTotalCoin('btc')}}
  TOTAL ETH: {{getTotalCoin('eth')}}
</div>

<div *ngIf="getTransactionsStatus()">
  THERE ARE NOT TRANSACTIONS
</div>

<div style="display: flex; flex-direction: row">
  <div *ngFor="let wallet of wallets">
    <app-wallet [data]="wallet">

    </app-wallet>
  </div>
</div>


<h4>TRANSACTIONS</h4>

<div style="display: flex; flex-direction: row;">
  <div *ngFor="let transaction of transactions; let i = index;">

    <app-transaction [data]="transaction">
      <button
        [disabled]="transaction.mineType === 'PoS' &&
       transaction.miner < 20"
        (click)="onMine(transaction)">
        mine
      </button>
      <mat-card-actions>
        <button  (click)="onEdit(transaction)">Edit</button>
      </mat-card-actions>
    </app-transaction>
  </div>
</div>
