<div  style="border: 5px blue solid; background-color: aqua;">
<div style="border: 5px yellow solid; background-color: rgb(110, 224, 16);"> Vaccine: A={{typeA}}, B={{typeB}},    C={{typeC}}</div>
  <p *ngIf="verifyAllVacunados()" style="border: 5px yellow solid; background-color: rgb(110, 224, 16);">
  EVERYBODY VACCINATED 
  </p>

  <h1>1- VACUNAS</h1>
  <p style="border: 5px purple solid; background-color: plum;"> VACCINATED TOTAL:  {{pets.vacunados.length}} </p>
  <p>VACCINATED PEOPLE</p>
  <div style="display: flex; flexDirection: row;">
    <div *ngFor="let pet of pets.vacunados">
      <app-vaccinated-people
      [name]="pet.name"
      [type]="pet.type"
      [age]="pet.age"
      [date]="pet.date"
      [disease]="pet.disease"
      [vacunado]="pet.vacunado"
      [doses]="pet.doses"
      (votar)="vacunar(pet )">
      </app-vaccinated-people>
    </div>
  </div>

  <p style="border: 5px purple solid; background-color: plum;">NOT VACCINATED TOTAL: {{pets.novacunados.length}}</p>
  <p>NOT VACCINATED PEOPLE</p>
  <div style="display: flex; flexDirection: row;">
    <div *ngFor="let pet of pets.novacunados">
      <app-vaccinated-people
      [name]="pet.name"
      [type]="pet.type"
      [age]="pet.age"
      [date]="pet.date"
      [disease]="pet.disease"
      [vacunado]="pet.vacunado"
      [doses]="pet.doses"
      (vacunar)="vacunar(pet)">
      </app-vaccinated-people>
    </div>
  </div>

</div>